@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#landing {
    margin: 0;
    background: url("images/bookHole.jpg");
    background-size: cover;
}

#about {
    margin: 0;
    background: url("images/tarot.jpg");
    background-size: cover;
}

#hobbies {
    margin: 0;
    background: url("images/gardening.jpg");
    background-size: cover;
}

nav {
    overflow: hidden;
    background-color: #726e75;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 1000;
}

nav a {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
    color: black;
}

#landing-content {
    font-size: 20px;
    max-width: 33%;
    min-width: 10%;
    margin: 2rem auto;
    background-color: #948b89;
    box-shadow: 10px 10px #dde0bd;
}

#about-content {
    font-size: 20px;
    max-width: 33%;
    min-width: 10%;
    margin: 2rem auto;
    background-color: #b6a39e;
    box-shadow: 10px 10px #dde0bd;
}

#hobbies-content {
    font-size: 20px;
    max-width: 33%;
    min-width: 10%;
    margin: 2rem auto;
    background-color: #d0d1ac;
    box-shadow: 10px 10px #dde0bd;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#tarotContainer {
    display: flex;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

div>p {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
    padding: 15px;
}

footer {
    background-color: #726e75;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer>p {
    margin-left: 10px;
}